*{
    margin: 0;
}

.sidebar{
    width: 25%;
    height: 100vh;
    float: left;
    border-right: 2px solid gray;
    display: none;
}
.active-side{
    width: 25%;
    height: 100vh;
    float: left;
    border-right: 2px solid gray;
    display: block;
}
.main{
    width: 74%;
    height: 100vh;
    float: left;   
    
}
.active{
    width: 100%;
    height: 100vh;
    
}

#text{
    padding-left: 10px;
}

h1{
    display: inline;
}

.header{
    background-color: skyblue;
    height: 80px;
    line-height: 80px;
}
#close{
    position: absolute;
    left: 10%;
    top: 5px;
    /* font-size: 20px; */
    cursor: pointer;
}

#ul-container{
    margin-top: 30px;
}
#ul-container ul{
    list-style: none;
}
#ul-container ul li{
    margin-top: 10px;
}
#ul-container ul li a{
    text-decoration: none;
    padding: 10px;
}

#open{
    margin: 0 20px 0 10px;
    cursor: pointer;
}
